/* src/App.css hoặc src/index.css */

.homepage {
  min-height: 100vh;
  /* Đây là màu xanh tương tự trong hình */
  background-color: #3bbfb8;
  padding-top: 80px; /* Tạo không gian cho header */
  color: white; /* Màu chữ mặc định */
}
